.container-fluid {
  padding: 0 48px;
  position: absolute;
}

#product__in__bill {
  background-color: white;
  /* box-shadow: 1px 1px 1px 1px; */
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  border-radius: 5px;
  height: 85vh;
}

#customer__in__bill {
  background-color: white;
  /* box-shadow: 1px 1px 1px 1px; */
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  border-radius: 5px;
  /*height: 85vh;*/
}

.ant-modal {
  width: 1000px;
}

#side__bar__bill {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 82, 82, 0.445);
  padding: 10px 0;
  display: none;
}

/*#bill__template {*/
/*  width: 25%;*/
/*  background-color: white;*/
/*  margin: auto;*/
/*  padding: 20px 30px;*/
/*  height: 90vh;*/
/*  overflow: auto;*/
/*}*/


