<div style="text-align: center; padding: 30px 0">

  <div>
    <h5 class="mb-3">Thông tin xuất hỏng</h5>

    <h6>Tổng tiền : {{totalBillPrice | currency:'VND'}}</h6>
  </div>

  <nz-divider></nz-divider>
  <div style="width: calc(100% - 32px); margin: auto">
    <div *ngIf="totalBillPrice > 0 ; else emptyProduct">
      <button class="w-100 btn btn-success btn-lg" (click)="exportBrokenProduct()">
        <span>Xuất hỏng</span>
      </button>
    </div>
    <ng-template #emptyProduct>
      <button class="w-100 btn btn-success btn-lg" disabled (click)="exportBrokenProduct()"
        title="chọn sản phẩm và lô sản phẩm cần xuất hỏng">
        <span>Xuất hỏng</span>
      </button>
    </ng-template>

    <button printSectionId="print-section" ngxPrint class="d-none" id="print__bill__data__broken"></button>
    <nz-modal [(nzVisible)]="isVisibleBrokenReport" nzTitle="báo cáo xuất hỏng"
      (nzOnCancel)="handleCancelBrokenReport()" (nzOnOk)="handleOkBrokenReport()" nzOkText="In báo cáo"
      [nzStyle]="{ width:'60%' }">
      <ng-container *nzModalContent>
        <div id="print-section" style="height: 70vh; overflow: auto;">
          <app-report-broken-product [BrokenId]="brokenId"></app-report-broken-product>
        </div>
      </ng-container>
    </nz-modal>

  </div>
  <div>
  </div>
</div>