<div class="main">

    <div>
        <div>
            <h4 class="text-center">
                <img src="./../../../assets/img/logo.png" alt="logo" width="20px">
                Web nhân viên nhà thuốc Út Nhàn
            </h4>
        </div>
        <div class="form ">
            <div class="text-center">
                <h4>Đăng nhập</h4>
                <p class="small">Nhập tên người dùng và mật khẩu của bạn để đăng nhập</p>
            </div>
            <div class="form-group">
                <label for="">Tài khoản</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="username">
                <div *ngIf="check == false">
                    <div *ngIf="username == ''">
                        <p style="color: red;" class="small">Vui lòng nhập tài khoản</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Mật khẩu</label>
                <input type="password" class="form-control" placeholder="" [(ngModel)]="password">
                <div *ngIf="check == false">
                    <div *ngIf="password == ''">
                        <p style="color: red;" class="small">Vui lòng nhập mật khẩu</p>
                    </div>
                </div>
            </div>
            <div class="form-group login__button">
                <button class="btn btn-primary w-100" (click)="login()">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>