<div class="containter-fluid">
    <div class="d-flex justify-content-around align-items-center">
        <nz-select nzAllowClear nzPlaceHolder="chọn nhà cung cấp" style="width: 90%;" [(ngModel)]="selectSupplier"
            (ngModelChange)="selectSupplierChange()" nzShowSearch>
            <nz-option *ngFor="let supplier of listSuppliers" [nzLabel]="supplier.name" [nzValue]="supplier">
            </nz-option>
        </nz-select>
        <div>
            <i class=" fa fa-plus" role="button" (click)="showModalAddSupplier()"></i>
            <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnOk)="handleOkSupplier()"
                (nzOnCancel)="handleCancelSupplier()">
                <ng-container *nzModalContent>
                    <div class="form-group">
                        <label>Tên nhà cung cấp:</label>
                        <input type="text" class="form-control" [(ngModel)]="newSupplier">
                    </div>
                </ng-container>
            </nz-modal>
        </div>
    </div>

    <nz-divider></nz-divider>

    <div>
        <h5>Thông tin nhà cung cấp</h5>
        <div class="row">
            <div class="col-4">
                <h6>Nhà cung cấp:</h6>
            </div>
            <div class="col-8" *ngIf="selectSupplier != '', else supplier">
                {{selectSupplier?.name}}
            </div>
            <ng-template #supplier>
                {{newSupplier}}
            </ng-template>
        </div>
    </div>

    <div class="position-absolute" style="bottom: 16px; width: calc(100% - 32px);">
        <button class="btn btn-success w-100 btn-lg" (click)="inputProduct()">Nhập hàng</button>
    </div>
</div>
