<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-9">
      <div class="panel__container p-3">
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Sản phẩm</th>
              <th>Lô</th>
              <th>Số lượng</th>
              <th>Đã trả</th>
              <th *ngIf="switchFullInvocie == true">Thành tiền</th>
              <th>Đơn giá</th>
              <th *ngIf="switchFullInvocie != true">Số lượng trả lại</th>
              <th *ngIf="switchFullInvocie != true">Tổng giá</th>
              <th *ngIf="switchFullInvocie != true">Xóa</th>
            </tr>
          </thead>
          <tbody>
            <tr app-return-product-detail *ngFor="let data of invoiceDetailData; let i = index" [productData]="data"
              [index]="i" [checkFull]="switchFullInvocie">
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3">
      <div class="panel__container p-3 position-relative">
        <label style="color:red">* Nhập barcode đơn hàng để lấy thông tin</label>
        <input nz-input placeholder="Mã barcode đơn hàng" nzSize="default" [(ngModel)]="invoiceBarcode"
          (ngModelChange)="searchInvocie()" />
        <div class="text-end mt-4">
          <button nz-button (click)="showSearchCustomerModal()">Tìm kiếm đơn hàng</button>
          <nz-modal [(nzVisible)]="isVisibleSearchCustomer" (nzOnCancel)="handleCancelSearchCustomer()"
            (nzOnOk)="handleOkSearchCustomer()" [nzFooter]="modalFooter">
            <ng-container *nzModalContent>
              <app-search-customer-return-product></app-search-customer-return-product>
            </ng-container>
            <ng-template #modalFooter>
            </ng-template>
          </nz-modal>
        </div>
        <nz-divider></nz-divider>
        <div class="mb-4 ">
          <h3 class="text-center">Thông tin đơn hàng</h3>
        </div>
        <div class="mb-3 row">
          <div class="col-6"><span>Khách hàng: </span></div>
          <div class="col-6">
            <h6>{{invoiceData?.customer.fullName}}</h6>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6"><span>Số điện thoại: </span></div>
          <div class="col-6">
            <h6>{{invoiceData?.customer.phoneNumber}}</h6>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6"><span>Bán bởi nhân viên: </span></div>
          <div class="col-6">
            <h6>{{invoiceData?.createdBy.name}}</h6>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6"><span>Ngày bán: </span></div>
          <div class="col-6">
            <h6>{{invoiceData?.createdAt | date:'dd/MM/yyyy hh:mm a'}}</h6>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-6"><span>Giá trị hóa đơn: </span></div>
          <div class="col-6">
            <h5>{{returnTotalPrice | currency:'VND'}}</h5>
          </div>
        </div>
        <nz-divider></nz-divider>
        <div class="mb-4 ">
          <h3 class="text-center">Thông tin Nhập hàng</h3>
        </div>
        <div class="mb-3 row">
          <div class="col-8">
            <h5>Trả đủ hàng trong hóa đơn:</h5>
          </div>
          <div class="col-4">
            <nz-switch [(ngModel)]="switchFullInvocie" (ngModelChange)="checkReturnFullProduct()"></nz-switch>
          </div>
        </div>
        <nz-divider></nz-divider>
        <div class="position-absolute" style="bottom: 16px; width: calc(100% - 32px);">
          <div *ngIf="invoiceData; else emptyReturn">
            <button class="w-100 btn btn-success btn-lg" (click)="ReturnProduct()" id="returnButton">Trả hàng</button>
          </div>
          <ng-template #emptyReturn>
            <button class="w-100 btn btn-success btn-lg" disabled (click)="ReturnProduct()" id="returnButton">Trả
              hàng</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<button printSectionId="print-section" ngxPrint class="d-none" id="print__bill__data__return"></button>
<nz-modal [(nzVisible)]="isVisibleReturnProduct" nzTitle="Phiếu nhập hàng trả lại"
  (nzOnCancel)="handleCancelReturnProduct()" nzOkText="In phiếu" (nzOnOk)="handleOkReturnProduct()"
  [nzStyle]="{ width:'60%' }">
  <ng-container *nzModalContent>
    <div id="print-section" style="height: 70vh; overflow: auto;" *ngIf="listReturnProductId != []">
      <app-print-input [listInputID]="listReturnProductId" [status]="false"></app-print-input>
    </div>
  </ng-container>
</nz-modal>